<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Paging</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css" media="all">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		<script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
	</head>

	<body>
		<div style="margin: 15px;">
			
			<fieldset class="layui-elem-field">
				<legend>创建关系谱</legend>
				<div class="layui-field-box" ng-app="relationship" ng-controller="createRelationship">
					<div>
						<form >
							<input type="text" ng-model="superUser" placeholder="邀请者 微信ID"/>
							<input type="text" ng-model="subUser" placeholder="被邀请者 微信ID"/>
							<button type="button" id="search" ng-click="createRelationship(superUser, subUser)">创建</button>
						</form>
						<!--分页容器-->
						<div id="paged"></div>
					</div>
				</div>
			</fieldset>
		</div>
		<!--模板-->
		<script type="text/html" id="conTemp">
			{{# layui.each(d.list, function(index, item){ }}
			<tr>
				<!--<td><input type="checkbox"></td>-->
				<td>{{ item.name }}</td>
				<td>{{ item.age }}</td>
				<td>{{ item.createtime }}</td>
				<td>
					<!--<a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>-->
				<!--	<a href="/manage/article_edit_1" class="layui-btn layui-btn-mini">编辑</a>-->
					<a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
				</td>
			</tr>
			{{# }); }}
		</script>
		<script type="text/javascript" src="plugins/layui/layui.js"></script>
		<script>
			var app = angular.module('relationship', []);
			app.config(function ($httpProvider) {
				$httpProvider.defaults.headers.common = { 'Content-Type' : 'application/x-www-form-urlencoded' }
			});
			app.controller('createRelationship', function($scope, $http){
                $scope.createRelationship = function (superUser, subUser) {
                    $http({
                        method: 'POST',
                        url: 'user/root/create/relationship',
                        data: "superUser=" + superUser + "&subUser=" + subUser,
                        headers:{"Content-Type": "application/x-www-form-urlencoded"}
                    }).then(function successCallback(response) {
                        console.info(response.data);
                        alert("创建成功")

                    }, function errorCallback(response) {
                        alert("搜索无结果")
                    })
                }
			});
		</script>
	</body>

</html>